.banner {
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content {
}

.banner-content > h1 {
  color: white;
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 0;
}

.banner-content > p {
  color: white;
  font-size: 20px;
  margin-top: 0;
  padding-bottom: 15px;
}

.banner-content > a {
  background-color: white;
  color: #B62E40;
  border-radius: 4px;
  padding: 15px 30px;
  font-weight: bold;
}

.banner-content > a:hover {
  background-color: #BD4757;
  color: white;
}





